<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<connectionStrings>
		<add name="TriadAdvertsApplication" connectionString="Data Source=Triad-SQL-01;Uid=jvasques;Pwd=g3n3ric;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
		<add name="TriadAdvertsConnectionString" connectionString="Data Source=ajax;Initial Catalog=TriadAdverts;Uid=PandoraLogin;Pwd=d0N!Qu1x0Te;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	
	<appSettings>
		<add key="Trimlength" value="300" />
		<!-- Sets the number of chars turned for gridview results -->
	</appSettings>

  <system.web>  
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
		
			
			


    </system.webServer>
    <system.net>
        <mailSettings>
            <smtp>
				<network host="mailgate.triad.co.uk" />
            </smtp>
        </mailSettings>		
    </system.net>
	<system.web>
        <customErrors mode="Off" defaultRedirect="mycustompage.htm"/>
    </system.web>
</configuration>